@model IEnumerable<Leet.Kantilever.FEWebwinkel.Site.ViewModels.ProductVM>

@{
    ViewBag.Title = "Catalogus";
    if (Request.Params["page"] != null)
    {
        ViewBag.Page = Request.Params["page"].AsInt();
    }
    else if (Request.Params["page"] == null)
    {
        ViewBag.Page = 1;
    }
}

<h2>Catalogus</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 col-xs-12 artikel">
            <div class="row">
                <div class="col-md-11">
                    <img height="50" src="@Html.DisplayFor(modelItem => item.AfbeeldingPad)">
                    <h4>@Html.DisplayFor(modelItem => item.Naam)</h4>
                    <p>@Html.DisplayFor(modelItem => item.LeverancierNaam)</p>
                    <div class="col-md-12 no-padding">
                        <div class="col-md-6 no-padding">
                            <p>Voorraad</p>
                            <p>&euro;@Html.DisplayFor(modelItem => item.PrijsInclusiefBtw)</p>

                        </div>
                        <div class="col-md-6 no-padding">
                            <button id="prod-@item.ID" class="btn btn-kanti mandBtn"><span class="fa fa-shopping-cart"></span></button>
                        </div>
                    </div>
               </div>
           </div>
        </div>
    }
</div>
<nav>
    <ul class="pager">
        @{
            if (ViewBag.Page != 1)
            {
                <li>@Html.ActionLink("Vorige", "Index", new { page = ViewBag.Page - 1 })</li>
            }
        }
        <li>@Html.ActionLink("Volgende", "Index", new { page = ViewBag.Page + 1 })</li>
    </ul>
</nav>
