@model Leet.Kantilever.FEWebwinkel.Site.ViewModels.WinkelmandVM

@{
    ViewBag.Title = "Index";

}
    @Styles.Render("~/Content/Winkelmand")


<div>
    <h4>Winkelmandje</h4>
    <hr />
    <table class="table winkelmandje">

        @Html.Partial("Winkelmandoverzicht", Model.Producten)
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">@Html.DisplayNameFor(model => model.Totaalprijs)</td>
                <td>&euro; @Html.DisplayFor(model => model.Totaalprijs)</td>
            </tr>
        </tfoot>
    </table>

    <a href="@Url.Action("GegevensInvoeren", "Bestellen")" class="btn btn-default">Bestellen</a>
</div>
