@model Leet.Kantilever.FEWebwinkel.Site.ViewModels.WinkelmandVM

@{
    ViewBag.Title = "Index";

}
@Styles.Render("~/Content/Winkelmand")


<div>
    <h4>Winkelmandje</h4>
    <hr />
    <table class="table winkelmandje">

        @Html.Partial("Winkelmandoverzicht", Model.Producten)
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">
                    <p>@Html.DisplayNameFor(model => model.Totaalprijs)</p>
                    <p>@Html.DisplayNameFor(model => model.TotaalprijsInclusiefBtw)</p>
                </td>
                <td>
                    <p>&euro; @Html.DisplayFor(model => model.Totaalprijs)</p>
                    <p>&euro; @Html.DisplayFor(model => model.TotaalprijsInclusiefBtw)</p>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
